{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="columns large-8 large-centered">
    <div class="card">


<p>        <a href="{% url 'seo-mayoral-2016' %}">{% url 'seo-mayoral-2016' %}</a></p>
<p>        <a href="{% url 'seo-london-2016' %}">{% url 'seo-london-2016' %}</a></p>
<p>        <a href="{% url 'seo-london-assembly-2016' %}">{% url 'seo-london-assembly-2016' %}</a></p>

<p>        <a href="{% url 'seo-scotland-2016' %}">{% url 'seo-scotland-2016' %}</a></p>
<p>        <a href="{% url 'seo-scottish-parliament-2016' %}">{% url 'seo-scottish-parliament-2016' %}</a></p>
<p>        <a href="{% url 'seo-holyrood-2016' %}">{% url 'seo-holyrood-2016' %}</a></p>

<p>        <a href="{% url 'seo-local-2016' %}">{% url 'seo-local-2016' %}</a></p>

<p>        <a href="{% url 'seo-wales-2016' %}">{% url 'seo-wales-2016' %}</a></p>
<p>        <a href="{% url 'seo-welsh-assembly-2016' %}">{% url 'seo-welsh-assembly-2016' %}</a></p>
<p>        <a href="{% url 'seo-senedd-2016' %}">{% url 'seo-senedd-2016' %}</a></p>

<p>        <a href="{% url 'seo-pcc-2016' %}">{% url 'seo-pcc-2016' %}</a></p>

<p>        <a href="{% url 'seo-ni-2016' %}">{% url 'seo-ni-2016' %}</a></p>

<p>        <a href="{% url 'seo-bristol-2016' %}">{% url 'seo-bristol-2016' %}</a></p>

<p>        <a href="{% url 'seo-liverpool-2016' %}">{% url 'seo-liverpool-2016' %}</a></p>

<p>        <a href="{% url 'seo-salford-2016' %}">{% url 'seo-salford-2016' %}</a></p>


    </div>
  </div>
</div>
{% endblock %}
