{% extends 'home.html' %}
{% block pre_post_code_copy %}
  <h1>
    London elections 2016
  </h1>
  <p>
    Londoners will elect a new Mayor and a new London Assembly on Thursday 5 May 2016. Find out about your Mayoral candidates and your local and London-wide candidates for the London Assembly.
  </p>
{% endblock %}
{% block post_post_code_copy %}
  <p>
    The Mayor of London has power to produce a strategic plan for London, covering housing and the environment. The mayor sets London’s transport policy, fire and emergency planning, policing and crime policy, and economic development policy. The mayor also has some power over planning permissions.
  </p>
  <p>
    The London Assembly keeps a check on what the Mayor is doing. It also investigates issues of importance to Londoners, publishes its findings and recommendations, and makes proposals to the Mayor.
  </p>
{% endblock %}
