{% extends 'home.html' %}
{% block pre_post_code_copy %}
  <h1>London mayoral election</h1>
  <p>
    The <b>London mayoral election</b> takes place on Thursday 5 May 2016. There are also London Assembly elections. Find out who your mayoral candidates are - as well as your candidates for the Assembly.
  </p>
{% endblock %}
{% block post_post_code_copy %}
  <p>
    The Mayor of London has power to produce a strategic plan for London, covering housing and the environment. The mayor sets London’s transport policy, fire and emergency planning, policing and crime policy, and economic development policy. The mayor also has some power over planning permissions.
  </p>
{% endblock %}
