{% load dc_forms %}
<h1>Thanks for your feedback!</h1>
{% if object.found_useful == "YES" %}

<p>The information you see here is gathered publicly, by people like you.</p>

<p>Help us do more to make democracy work better for everyone!</p>

{% else %}

<p>We're sorry you didn't find what you were looking for. We'll read your feedback and pass it on to our volunteers.</p>

<p>The information you see here is gathered publicly, by people like you.</p>

<p>Help us do better in future!</p>

{% endif %}

{% include "donations/donate_inline.html" with hide_card=1 hide_header=1 %}
