{% load dc_forms %}
<h1>Thanks for your feedback!</h1>
{% if object.found_useful == "YES" %}

<p>This website is run by Democracy Club — a tiny non-profit that tries to make democracy better.</p>

<p>The information you see here is gathered publicly, by people like you.</p>

<p>Help us do more to make democracy work better for everyone!</p>

{% else %}

<p>We're sorry you didn't find what you were looking for. We'll read your feedback and pass it on to our volunteers.</p>

<p>This website is run by Democracy Club — a tiny non-profit that tries to make democracy better.</p>

<p>The information you see here is gathered publicly, by people like you.</p>

<p>Help us do better in future!</p>

{% endif %}

<form method="post" class="donate_form inline_radios" action="{% url "feedback_form_view" %}">
  {% csrf_token %}
  {{ donate_form.errors }}
  {{ donate_form|dc_form }}
  <button type="submit" class="buttonNew">Next</button>
</form>
