interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/?page_size=200
  response:
    body: {string: '{"count":925,"next":"http://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2&page_size=200","previous":null,"results":[{"id":"2015","url":"http://candidates.democracyclub.org.uk/api/v0.9/elections/2015/","name":"2015
        General Election","for_post_role":"Member of Parliament","winner_membership_role":"","candidate_membership_role":"Candidate","election_date":"2015-05-07","current":false,"use_for_candidate_suggestions":true,"organization":{"id":"parl:parl","url":"http://candidates.democracyclub.org.uk/api/v0.9/organizations/parl:parl/","name":"House
        of Commons of the United Kingdom"},"party_lists_in_use":false,"default_party_list_members_to_show":0,"show_official_documents":true,"ocd_division":"","description":"2015
        General Election"},{"id":"2010","url":"http://candidates.democracyclub.org.uk/api/v0.9/elections/2010/","name":"2010
        General Election","for_post_role":"Member of Parliament","winner_membership_role":"","candidate_membership_role":"Candidate","election_date":"2010-05-06","current":false,"use_for_candidate_suggestions":true,"organization":{"id":"UK
        House of Parliament:commons","url":"http://candidates.democracyclub.org.uk/api/v0.9/organizations/UK%20House%20of%20Parli[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2&page_size=200
  response:
    body: {string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>CloudFront</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      Content-Type: [text/html]
      Location: ['https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2&page_size=200']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2&page_size=200
  response:
    body: {string: '{"count":925,"next":"http://candidates.democracyclub.org.uk/api/v0.9/elections/?page=3&page_size=200","previous":"http://candidates.democracyclub.org.uk/api/v0.9/elections/?page_size=200","results":[{"id":"local.aberdeen-city.2017-05-04","url":"http://candidates.democracyclub.org.uk/api/v0.9/elections/local.aberdeen-city.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.leicester.2017-06-08/
  response:
    body: {string: '{"election_id":"local.leicester.2017-06-08","tmp_election_id":null,"election_title":"Leicester
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/LCE/1997-04-01/","official_identifier":"LCE","organisation_type":"local-authority","organisation_subtype":"UA","official_name":"Leicester
        City Council","common_name":"Leicester City Council","slug":"leicester","territory_code":"ENG","election_name":"Leicester
        City Council","start_date":"1997-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.leicester.castle.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.peterborough.2017-06-08/
  response:
    body: {string: '{"election_id":"local.peterborough.2017-06-08","tmp_election_id":null,"election_title":"Peterborough
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/PTE/1998-04-01/","official_identifier":"PTE","organisation_type":"local-authority","organisation_subtype":"UA","official_name":"Peterborough
        City Council","common_name":"Peterborough","slug":"peterborough","territory_code":"ENG","election_name":"Peterborough
        local election","start_date":"1998-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.peterborough.east.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.ceredigion.2017-06-08/
  response:
    body: {string: '{"election_id":"local.ceredigion.2017-06-08","tmp_election_id":null,"election_title":"Ceredigion
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/CGN/1996-04-01/","official_identifier":"CGN","organisation_type":"local-authority","organisation_subtype":"UA","official_name":"Ceredigion
        County Council","common_name":"Ceredigion","slug":"ceredigion","territory_code":"WLS","election_name":"Ceredigion
        local election","start_date":"1996-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.ceredigion.llandyfriog.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.merthyr-tydfil.2017-06-08/
  response:
    body: {string: '{"election_id":"local.merthyr-tydfil.2017-06-08","tmp_election_id":null,"election_title":"Merthyr
        Tydfil local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/MTY/1996-04-01/","official_identifier":"MTY","organisation_type":"local-authority","organisation_subtype":"UA","official_name":"Merthyr
        Tydfil County Borough Council","common_name":"Merthyr Tydfil","slug":"merthyr-tydfil","territory_code":"WLS","election_name":"Merthyr
        Tydfil local election","start_date":"1996-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.merthyr-tydfil.cyfarthfa.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.ashford.2017-06-08/
  response:
    body: {string: '{"election_id":"local.ashford.2017-06-08","tmp_election_id":null,"election_title":"Ashford
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/ASF/1974-04-01/","official_identifier":"ASF","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Ashford
        Borough Council","common_name":"Ashford","slug":"ashford","territory_code":"ENG","election_name":"Ashford
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.ashford.bockhanger.by.2017-06-08","local.ashford.victoria.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.blackburn-with-darwen.2017-06-08/
  response:
    body: {string: '{"election_id":"local.blackburn-with-darwen.2017-06-08","tmp_election_id":null,"election_title":"Blackburn
        with Darwen local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/BBD/1998-04-01/","official_identifier":"BBD","organisation_type":"local-authority","organisation_subtype":"UA","official_name":"Blackburn
        with Darwen Borough Council","common_name":"Blackburn with Darwen","slug":"blackburn-with-darwen","territory_code":"ENG","election_name":"Blackburn
        with Darwen local election","start_date":"1998-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.blackburn-with-darwen.higher-croft.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.canterbury.2017-06-08/
  response:
    body: {string: '{"election_id":"local.canterbury.2017-06-08","tmp_election_id":null,"election_title":"Canterbury
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/CAT/1974-04-01/","official_identifier":"CAT","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Canterbury
        City Council","common_name":"Canterbury","slug":"canterbury","territory_code":"ENG","election_name":"Canterbury
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.canterbury.westgate.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.torridge.2017-06-08/
  response:
    body: {string: '{"election_id":"local.torridge.2017-06-08","tmp_election_id":null,"election_title":"Torridge
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/TOR/1974-04-01/","official_identifier":"TOR","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Torridge
        District Council","common_name":"Torridge","slug":"torridge","territory_code":"ENG","election_name":"Torridge
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.torridge.hartland-and-bradworthy.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.west-berkshire.2017-06-08/
  response:
    body: {string: '{"election_id":"local.west-berkshire.2017-06-08","tmp_election_id":null,"election_title":"West
        Berkshire local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/WBK/1998-04-01/","official_identifier":"WBK","organisation_type":"local-authority","organisation_subtype":"UA","official_name":"West
        Berkshire Council","common_name":"West Berkshire","slug":"west-berkshire","territory_code":"ENG","election_name":"West
        Berkshire local election","start_date":"1998-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.west-berkshire.thatcham-south-and-crookham.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.broadland.2017-06-08/
  response:
    body: {string: '{"election_id":"local.broadland.2017-06-08","tmp_election_id":null,"election_title":"Broadland
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/BRO/1974-04-01/","official_identifier":"BRO","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Broadland
        District Council","common_name":"Broadland","slug":"broadland","territory_code":"ENG","election_name":"Broadland
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.broadland.coltishall.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.bromsgrove.2017-06-08/
  response:
    body: {string: '{"election_id":"local.bromsgrove.2017-06-08","tmp_election_id":null,"election_title":"Bromsgrove
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/BRM/1974-04-01/","official_identifier":"BRM","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Bromsgrove
        District Council","common_name":"Bromsgrove","slug":"bromsgrove","territory_code":"ENG","election_name":"Bromsgrove
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.bromsgrove.alvechurch-village.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.broxtowe.2017-06-08/
  response:
    body: {string: '{"election_id":"local.broxtowe.2017-06-08","tmp_election_id":null,"election_title":"Broxtowe
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/BRT/1974-04-01/","official_identifier":"BRT","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Broxtowe
        Borough Council","common_name":"Broxtowe","slug":"broxtowe","territory_code":"ENG","election_name":"Broxtowe
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.broxtowe.toton-chilwell-meadows.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.bury.2017-06-08/
  response:
    body: {string: '{"election_id":"local.bury.2017-06-08","tmp_election_id":null,"election_title":"Bury
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/BUR/1974-04-01/","official_identifier":"BUR","organisation_type":"local-authority","organisation_subtype":"MD","official_name":"Bury
        Metropolitan Borough Council","common_name":"Bury","slug":"bury","territory_code":"ENG","election_name":"Bury
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.bury.radcliffe-east.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.calderdale.2017-06-08/
  response:
    body: {string: '{"election_id":"local.calderdale.2017-06-08","tmp_election_id":null,"election_title":"Calderdale
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/CLD/1974-04-01/","official_identifier":"CLD","organisation_type":"local-authority","organisation_subtype":"MD","official_name":"Calderdale
        Metropolitan Borough Council","common_name":"Calderdale","slug":"calderdale","territory_code":"ENG","election_name":"Calderdale
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.calderdale.rastrick.by.2017-06-08","local.calderdale.todmorden.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.copeland.2017-06-08/
  response:
    body: {string: '{"election_id":"local.copeland.2017-06-08","tmp_election_id":null,"election_title":"Copeland
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/COP/1974-04-01/","official_identifier":"COP","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Copeland
        Borough Council","common_name":"Copeland Borough Council","slug":"copeland","territory_code":"ENG","election_name":"Copeland
        Borough Council","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.copeland.newtown.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.crawley.2017-06-08/
  response:
    body: {string: '{"election_id":"local.crawley.2017-06-08","tmp_election_id":null,"election_title":"Crawley
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/CRW/1974-04-01/","official_identifier":"CRW","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Crawley
        Borough Council","common_name":"Crawley","slug":"crawley","territory_code":"ENG","election_name":"Crawley
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.crawley.pound-hill-south-and-worth.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.dacorum.2017-06-08/
  response:
    body: {string: '{"election_id":"local.dacorum.2017-06-08","tmp_election_id":null,"election_title":"Dacorum
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/DAC/1974-04-01/","official_identifier":"DAC","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Dacorum
        Borough Council","common_name":"Dacorum","slug":"dacorum","territory_code":"ENG","election_name":"Dacorum
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.dacorum.bovingdon-flaunden-and-chipperfield.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.eastleigh.2017-06-29/
  response:
    body: {string: '{"election_id":"local.eastleigh.2017-06-29","tmp_election_id":null,"election_title":"Eastleigh
        local election","poll_open_date":"2017-06-29","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/EAT/1974-04-01/","official_identifier":"EAT","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Eastleigh
        Borough Council","common_name":"Eastleigh","slug":"eastleigh","territory_code":"ENG","election_name":"Eastleigh
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-29","group_type":"organisation","children":["local.eastleigh.bishopstoke-east.by.2017-06-29","local.eastleigh.hedge-end-grange-park.by.2017-06-29"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.hammersmith-and-fulham.2017-06-08/
  response:
    body: {string: '{"election_id":"local.hammersmith-and-fulham.2017-06-08","tmp_election_id":null,"election_title":"Hammersmith
        and Fulham local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://electi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.lewes.2017-06-08/
  response:
    body: {string: '{"election_id":"local.lewes.2017-06-08","tmp_election_id":null,"election_title":"Lewes
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
        elections","election_type":"local"},"election_subtype":null,"organisation":{"url":"http://elections.democracyclub.org.uk/api/organisations/local-authority/LEE/1974-04-01/","official_identifier":"LEE","organisation_type":"local-authority","organisation_subtype":"NMD","official_name":"Lewes
        District Council","common_name":"Lewes","slug":"lewes","territory_code":"ENG","election_name":"Lewes
        local election","start_date":"1974-04-01","end_date":null},"group":"local.2017-06-08","group_type":"organisation","children":["local.lewes.seaford-west.by.2017-06-08"],"elected_role":"Local
        Councillor","seats_contested":null,"division":null,"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":false,"explanation":null,"metadata":null,"deleted":false,"cancelled":false,"replaces":null,"replaced_by":null}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.liverpool.2017-06-08/
  response:
    body: {string: '{"election_id":"local.liverpool.2017-06-08","tmp_election_id":null,"election_title":"Liverpool
        local election","poll_open_date":"2017-06-08","election_type":{"name":"Local
[...]
