interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/upcoming-elections?postcode=EC1A%204EU
  response:
    body: {string: '[{"election_name": "City of London Corporation local election",
        "area": {"identifier": "gss:E05009288", "type": "LBW", "name": "Aldersgate"},
        "election_date": "2017-03-23", "post_name": "Aldersgate", "organization":
        "City of London Corporation", "post_slug": "LBW:E05009288", "election_id":
        "local.city-of-london.2017-03-23"}]'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
