interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/
  response:
    body: {string: '{"count":295,"next":"https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2","previous":null,"results":[{"id":"2015","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/2015/","name":"2015
        General Election","for_post_role":"Member of Parliament","winner_membership_role":"","candidate_membership_role":"Candidate","election_date":"2015-05-07","current":false,"use_for_candidate_suggestions":false,"area_types":[{"id":1,"url":"https://candidates.democracyclub.org.uk/api/v0.9/area_types/1/","name":"WMC","source":"https://elections.democracyclub.org.uk/"}],"area_generation":"1","organization":{"id":"UK
        House of Parliament:commons","url":"https://candidates.democracyclub.org.uk/api/v0.9/organizations/UK%20House%20of%20Parliament:commons/","name":"House
        of Commons"},"party_lists_in_use":false,"default_party_list_members_to_show":0,"show_official_documents":true,"ocd_division":"","description":"2015
        General Election"},{"id":"2010","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/2010/","name":"2010
        General Election","for_post_role":"Member of Parliament","winner_membership_role":"","candidate_membership_role":"Candidate","election_date":"2010-05-06","current":false,"use_for_candidate_suggestions":true,"area_types":[{"id":1,"url":"https://candidates.democracyclub.org.uk/api/v0.9/area_types/1/","name":"WMC","source":"https://elections.democracyclub.org.u[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2
  response:
    body: {string: '{"count":295,"next":"https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=3","previous":"https://candidates.democracyclub.org.uk/api/v0.9/elections/","results":[{"id":"mayor.london.2016-05-05","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/mayor.london.2016-05-05/","name":"London
        Mayoral Election"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=15
  response:
    body: {string: '{"count":295,"next":"https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=16","previous":"https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=14","results":[{"id":"local.braintree.witham-south.2016-05-05","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/local.braintree.witham-south.2016-05-05/","name":"Braintree
        by-election: Witham South ward","for_post_role":"Local Councillor","winner_membership_role":null,"candidate_membership_role":"Candidate","election_date":"2016-05-05","current":false,"use_for_candidate_suggestions":false,"area_types":[{"id":12,"url":"https://candidates.democracyclub.org.uk/api/v0.9/area_types/12/","name":"DIW","source":"MapIt"}],"area_generation":"","organization":{"id":"District
        council ward:braintree","url":"https://candidates.democracyclub.org.uk/api/v0.9/organizations/District%20[...]
[...]
