interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wheredoivote.co.uk/api/beta/postcode/CB13HU.json?auth_token=DCINTERNAL-WHO-SYM-LOCAL
  response:
    body: {string: '{"polling_station_known":true,"postcode_location":{"geometry":{"point":{"type":"Point","coordinates":[0.16076721,52.200810477499985]}},"type":"Feature"},"custom_finder":null,"council":{"url":"https://wheredoivote.co.uk/api/beta/councils/E07000008/","council_id":"E07000008","council_type":"DIS","name":"Cambridge
        City Council","email":"elections@cambridge.gov.uk","phone":"01223 457048","website":"http://www.cambridge.gov.uk/","postcode":"CB1
        0JH","address":"Electoral Registration Officer\nElectoral Services\nPO Box
        700"},"polling_station":{"id":"E07000008.45","type":"Feature","geometry":{"type":"Point","coordinates":[0.15622989107142857,52.198456917857136]},"properties":{"urls":{"detail":"https://wheredoivote.co.uk/api/beta/pollingstations/?station_id=45&council_id=E07000008","geo":"https://wheredoivote.co.uk/api/beta/pollingstations/geo/?station_id=45&council_id=E07000008"},"council":"https://wheredoivote.co.uk/api/beta/councils/E07000008/","station_id":"45","postcode":"CB1
        3HR","address":"C3 CENTRE\nCOLDHAM''S LANE\nCAMBRIDGE"}},"addresses":[]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections?postcode=CB13HU&current=1
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['/api/elections/?postcode=CB13HU&current=1']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/?postcode=CB13HU&current=1
  response:
    body: {string: '{"count":1,"next":null,"previous":null,"results":[{"election_id":"parl.cambridge.2017-06-08","tmp_election_id":null,"election_title":"Cambridge","poll_open_date":"2017-06-08","election_type":{"name":"UK
        Parliament","election_type":"parl"},"election_subtype":null,"organisation":{"official_identifier":"parl-hoc","organisation_type":"parl","organisation_subtype":"","official_name":"House
        of Commons of the United Kingdom","common_name":"House of Commons","gss":"","slug":"parl","territory_code":"GBN","election_name":"UK
        general election"},"group":"parl.2017-06-08","group_type":null,"children":[],"elected_role":"Member
        of Parliament","division":{"divisionset":{"start_date":"2010-07-18","end_date":null,"legislation_url":null,"consultation_url":null,"short_title":"2010
        Boundaries","mapit_generation_id":"http://mapit.mysociety.org/generations/13","notes":"Auto
        imported from http://mapit.mysociety.org"},"name":"Cambridge","official_identifier":"gss:E14000617","geography_curie":"gss:E14000617","slug":"cambridge","division_type":"WMC","division_subtype":"UK
        Parliament constituency","division_election_sub_type":"","seats_total":null,"mapit_generation_low":13,"mapit_generation_high":30},"voting_system":{"slug":"FPTP","name":"First-past-the-post","uses_party_lists":false},"current":true,"explanation":null}]}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
