interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wheredoivote.co.uk/api/beta/postcode/CB13HU.json?auth_token=DCINTERNAL-WHO-SYM-LOCAL
  response:
    body: {string: '{"polling_station_known":true,"postcode_location":{"geometry":{"point":{"type":"Point","coordinates":[0.16076721,52.200810477499985]}},"type":"Feature"},"custom_finder":null,"council":{"url":"https://wheredoivote.co.uk/api/beta/councils/E07000008/","council_id":"E07000008","council_type":"DIS","name":"Cambridge
        City Council","email":"elections@cambridge.gov.uk","phone":"01223 457048","website":"http://www.cambridge.gov.uk/","postcode":"CB1
        0JH","address":"Electoral Registration Officer\nElectoral Services\nPO Box
        700"},"polling_station":{"id":"E07000008.45","type":"Feature","geometry":{"type":"Point","coordinates":[0.15622989107142857,52.198456917857136]},"properties":{"urls":{"detail":"https://wheredoivote.co.uk/api/beta/pollingstations/?station_id=45&council_id=E07000008","geo":"https://wheredoivote.co.uk/api/beta/pollingstations/geo/?station_id=45&council_id=E07000008"},"council":"https://wheredoivote.co.uk/api/beta/councils/E07000008/","station_id":"45","postcode":"CB1
        3HR","address":"C3 CENTRE\nCOLDHAM''S LANE\nCAMBRIDGE"}},"addresses":[]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/upcoming-elections?postcode=CB13HU
  response:
    body: {string: '[{"election_name": "Cambridgeshire County Council local election",
        "area": {"identifier": "CAM:romsey", "type": "CED", "name": "Romsey"}, "election_date":
        "2017-05-04", "post_name": "Romsey", "organization": "Cambridgeshire County
        Council", "post_slug": "CED:romsey", "election_id": "local.cambridgeshire.2017-05-04"},
        {"election_name": "Mayor of Cambridgeshire and Peterborough Combined Authority",
        "area": {"identifier": "combined-authority:cambridgeshire-and-peterborough",
        "type": "combined-authority", "name": "Cambridgeshire and Peterborough Combined
        Authority"}, "election_date": "2017-05-04", "post_name": "Cambridgeshire and
        Peterborough Combined Authority", "organization": "Cambridgeshire and Peterborough
        Combined Authority", "post_slug": "cambridgeshire-and-peterborough", "election_id":
        "mayor.cambridgeshire-and-peterborough.2017-05-04"}, {"election_name": "2017
        General Election", "area": {"identifier": "gss:E14000617", "type": "WMC",
        "name": "Cambridge"}, "election_date": "2017-06-08", "post_name": "Cambridge",
        "organization": "House of Commons of the United Kingdom", "post_slug": "WMC:E14000617",
        "election_id": "parl.2017-06-08"}]'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
