interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/
  response:
    body: {string: '{"count":385,"next":"https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2","previous":null,"results":[{"id":"2015","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/2015/","name":"2015
        General Election","for_post_role":"Member of Parliament","winner_membership_role":"","candidate_membership_role":"Candidate","election_date":"2015-05-07","current":false,"use_for_candidate_suggestions":true,"area_types":[{"id":1,"url":"https://candidates.democracyclub.org.uk/api/v0.9/area_types/1/","name":"WMC","source":"https://elections.democracyclub.org.uk/"}],"area_generation":"1","organization":{"id":"parl:parl","url":"https://candidates.democracyclub.org.uk/api/v0.9/organizations/parl:parl/","name":"House
        of Commons of the United Kingdom"},"party_lists_in_use":false,"default_party_list_members_to_show":0,"show_official_documents":true,"ocd_division":"","description":"2015
        General Election"},{"id":"2010","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/2010/","name":"2010
        General Election","for_post_role":"Member of Parliament","winner_membership_role":"","candidate_membership_role":"Candidate","election_date":"2010-05-06","current":false,"use_for_candidate_suggestions":true,"area_types":[{"id":1,"url":"https://candidates.democracyclub.org.uk/api/v0.9/area_types/1/","name":"WMC","source":"https://elections.democracyclub.org.u[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/2015/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/nia.2016-05-05/
  response:
    body: {string: '{"election_id":"nia.2016-05-05","tmp_election_id":null,"election_title":"","poll_open_date":"2016-05-05","election_type":{"name":"Northern
        Ireland assembly","election_type":"nia"},"election_subtype":null,"organisation":{"official_identifier":"nia","organisation_type":"nia","organisation_subtype":"","official_name":"Northern
        Ireland assembly","common_name":"Northern Ireland assembly","gss":"N07000001","slug":"nia","territory_code":"NIR","election_name":"Northern
        Ireland assembly election"},"group":null,"group_type":"","children":[],"elected_role":null,"division":null,"voting_system":{"slug":"STV","name":"Single
        Transferable Vote","uses_party_lists":false},"current":false,"explanation":null}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/sp.r.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/naw.r.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/sp.c.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/naw.c.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/gla.a.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/gla.c.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/pcc.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=2
  response:
    body: {string: '{"count":385,"next":"https://candidates.democracyclub.org.uk/api/v0.9/elections/?page=3","previous":"https://candidates.democracyclub.org.uk/api/v0.9/elections/","results":[{"id":"mayor.london.2016-05-05","url":"https://candidates.democracyclub.org.uk/api/v0.9/elections/mayor.london.2016-05-05/","name":"London
        Mayoral Election"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/mayor.london.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/mayor.liverpool.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/mayor.bristol.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/mayor.salford.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.carlisle.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.gloucester.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.brentwood.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.elmbridge.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.three-rivers.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.stevenage.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.great-yarmouth.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.woking.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.epping-forest.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.lincoln.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.southend-on-sea.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.birmingham.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.reading.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.slough.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.worcester.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.pendle.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.dudley.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.preston.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.craven.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.south-lakeland.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.liverpool.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.norwich.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.south-cambridgeshire.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.rochdale.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.newcastle-under-lyme.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.broxbourne.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.mole-valley.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.warrington.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.leeds.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.fareham.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.solihull.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.eastleigh.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.welwyn-hatfield.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.wokingham.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.milton-keynes.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.daventry.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.portsmouth.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.wyre-forest.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.winchester.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.knowsley.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.gosport.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.swindon.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.coventry.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.wolverhampton.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.runnymede.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.nuneaton-and-bedworth.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.sunderland.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.cherwell.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.bury.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.watford.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.maidstone.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.wakefield.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.sefton.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.redditch.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.reigate-and-banstead.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.oxford.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.blackburn-with-darwen.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.huntingdonshire.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.hartlepool.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.wigan.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.rushmoor.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.stroud.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.basingstoke-and-deane.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.harrogate.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.tunbridge-wells.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.barnsley.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.cambridge.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.west-lancashire.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.hastings.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://elections.democracyclub.org.uk/api/elections/local.chorley.2016-05-05/
  response:
    body: {string: '{"detail":"Not found."}'}
    headers:
[...]
