{% load markdown_deux_tags %}
<h2>Cancelled Election</h2>
<p>
  The poll for {{ object.post.label }} in the {{ object.election.name }}
  {% if object.election.in_past %}was{% else %}has been{% endif %}
  {% if object.replaced_by %}rescheduled{% else %}cancelled{% endif %}.
  {% if object.replaced_by %}
    {% if object.election.in_past %}
      It was rescheduled for
    {% else %}
      It will now take place on
    {% endif %}
    <a href="{{ object.replaced_by.get_absolute_url }}">
      {{ object.replaced_by.election.election_date|date:"j F Y" }}
    </a>
  {% endif %}
  {% if object.metadata.cancelled_election.detail %}
    {% filter markdown %}
{{ object.metadata.cancelled_election.detail }}
    {% endfilter %}
  {% endif %}
</p>
