{% load humanize %}

{% for husting in hustings %}
<p>
{% if husting.in_past %}(Past event) {% endif %}
<strong>{{ husting.starts|naturalday:"l j F Y"|title }} {{ husting.starts|date:"H:i"}}{% if husting.ends %}&ndash;{{ husting.ends | date:"H:i"}}{% endif %}:</strong> {% if husting.url %}<a href="{{ husting.url }}">{% endif %}{{ husting.title}}{% if husting.url %}</a>{% endif %}, {{ husting.location }} {{ husting.postcode }}. {% if husting.postevent_url %}<a href="{{ husting.postevent_url }}"><i class="icon-videocam" aria-hidden="true"></i> See video or other info from this event.</a>{% endif %}
</p>
{% endfor %}
