<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Event",
    "name": "{{ election.election.name }}",
    "description": "{{ election.friendly_name }}",
    "startDate": "{{ election.election.election_date }}",
    "endDate": "{{ election.election.election_date }}",
    "url" : "{{ CANONICAL_URL }}{{ election.get_absolute_url }}",
    "location" : {
        "@type" : "Place",
        "name" : "{{ election.friendly_name }}",
        "address": "{{ election.election.name }}"
    }
}
</script>