{% load static %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Event",
    "name": "{{ election.election.name }}",
    "description": "{{ election.friendly_name }}",
    "startDate": "{{ election.election.start_time | date:'Y-m-d H:i' }}",
    "endDate": "{{ election.election.end_time | date:'Y-m-d H:i' }}",
    "url" : "{{ CANONICAL_URL }}{{ election.get_absolute_url }}",
    "image": "{{ CANONICAL_URL }}{% static "dc_theme/images/logo.png" %}",
    "location" : {
        "@type" : "Place",
        "address": "{{ election.post.nice_organization }}, {{ election.post.nice_territory }}, UK"
    }
}
</script>