{% regroup people by person.party.party_name as people_by_party %}

{% for person_post in people_by_party %}
  <div class="party_list_row">
    <div class="party_list_row_inner">
      <div class="card">
        <div class="row">
          <div class="columns large-3">
            {% if person_post.list.0.person.party.emblem %}
            <img src="{{ person_post.list.0.person.party.emblem.url }}" width="70px" height="70px">
            {% endif %}
          </div>
          <div class="columns large-9">
            <h4>{{ person_post.grouper }}</h4>
            <details>
              <summary>{{ person_post.list|length }} list candidates</summary>
              {% for person in person_post.list %}
                {% include "elections/includes/_person_card.html" with person_post=person lists=True %}
              {% endfor %}
            </details>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

