{% regroup people.by_party by party.party_name as people_by_party %}

{% for person_post in people_by_party %}
  <div class="card party-list-card">

    <details>
      <summary>
        {% if person_post.list.0.party.emblem %}
          <img src="{{ person_post.list.0.party.emblem.url }}" alt="Party emblem" style="max-width:90%; height:100px" class="party_emblem">
        {% endif %}
        <h4>{{ person_post.grouper }}</h4>
        <a>Show {{ person_post.list|length }} list candidates</a>
      </summary>
      <div class="candidate_grid">
        {% for person in person_post.list %}
          {% include "elections/includes/_person_card.html" with person_post=person lists=True %}
        {% endfor %}
      </div>
    </details>
  </div>
{% endfor %}

