{% load static %}
<section class="candidate_card {% if person_post.post.election.uses_lists %}candidate_card_list_candidate{% endif %}">
  <header>

    <a href="{{ person_post.person.get_absolute_url }}" class="person_photo">
      {% if person_post.person.photo %}
        <img src="{% static person_post.person.photo.url %}" class="candidate_photo" alt="Photo of {{ person_post.person.name }}">
      {% elif person_post.person.gender|lower == 'male' %}
        <img src="{% static 'blank-man.png' %}" style="background-color: #ddd;" class="candidate_photo">
      {% else %}
        <img src="{% static 'blank-woman.png' %}" style="background-color: #ddd;" class="candidate_photo">
      {% endif %}
    </a>

    <div class="candidate_info">
      <h4 class="candidate_name">
        <a href="{{ person_post.person.get_absolute_url }}" class="person_name">
          {% if person_post.list_position %}
            {{ person_post.list_position }}.
          {% endif %}
          {{ person_post.person.name }}
        </a>
      </h4>
      {% if not person_post.list_position %}
      <p>{{ person_post.party.party_name }}</p>
      {% endif %}
    </div>

  </header>

  <footer>

    <ul class="contact_links">
      {% if person_post.person.email %}
      <li>
        <a href="mailto:{{ person_post.person.email }}" title="Email {{ person_post.person.name }}">
          <i class='fa fa-envelope'></i>
        </a>
      </li>
      {% endif %}
      {% if person_post.person.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ person_post.person.twitter_username }}" title="{{ person_post.person.name }}'s Twitter profile">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      {% endif %}
      {% if person_post.person.facebook_page_url %}
      <li>
        <a href="{{ person_post.person.facebook_page_url }}" title="{{ person_post.person.name }}'s Facebook profile">
          <i class='fa fa-facebook'></i>
        </a>
      </li>
      {% endif %}
      {% if person_post.person.linkedin_url %}
      <li>
        <a href="{{ person_post.person.linkedin_url }}" title="{{ person_post.person.name }}'s LinkedIn profile">
          <i class='fa fa-linkedin'></i>
        </a>
      </li>
      {% endif %}
      {% if person_post.person.homepage_url %}
      <li>
        <a href="{{ person_post.person.homepage_url }}" title="{{ person_post.person.name }}'s home page">
          <i class="fa fa-home"></i>
        </a>
      </li>
      {% endif %}
      {% if person_post.person.wikipedia_url %}
      <li>
        <a href="{{ person_post.person.wikipedia_url }}" title="{{ person_post.person.name }}'s Wikipedia page">
          <i class="fa fa-wikipedia-w"></i>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="{{ person_post.person.get_absolute_url }}" title="{{ person_post.person.name }}'s WhoCanIVoteFor candidate page" class="more">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

  </footer>
</section>
