{% load static %}
<section class="candidate_card {% if person_post.post.election.uses_lists %}candidate_card_list_candidate{% endif %}">
  <header>
    <div class="candidate_info">
      <h4 class="candidate_name">
        <a href="{{ person_post.person.get_absolute_url }}" class="person_name">
          {{ person_post.person.name }}
        </a>
      </h4>
      {% if person_post.list_position %}
      <div class="candidate_list_position">
        {{ person_post.list_position }}
      </div>
      {% else %}
      <p>{{ person_post.person.party.party_name }}</p>
      {% endif %}
    </div>


      <a href="{{ person_post.person.get_absolute_url }}" class="person_photo">
        {% if person_post.person.photo %}
        <img src="{% static person_post.person.photo.url %}" class="candidate_photo" alt="Photo of {{ person_post.person.name }}">
        {% elif person_post.person.gender|lower == 'male' %}
        <img src="{% static 'blank-man.png' %}" style="background-color: #ddd;" class="candidate_photo">
        {% else %}
        <img src="{% static 'blank-woman.png' %}" style="background-color: #ddd;" class="candidate_photo">
        {% endif %}
      </a>


  </header>

  <footer>
    <i class="material-icons expand">chevron_right</i>
  </footer>
</section>
