<section id="polling_place" class="columns large-12">
  <div class="card">

    <div clas="row">
      {% if polling_station.custom_finder %}
      <div class="columns large-12">
      {% else %}
      <div class="columns large-6">
      {% endif %}

        <h2>Where to vote</h2>
        {% if polling_station.polling_station_known %}
        <p>Your polling station is <strong>{{ polling_station.polling_station.address }}</strong></p>
        <p><a href="http://pollingstations.democracyclub.org.uk/postcode/{{ postcode }}">
          Get walking directions from {{ postcode }}</a></p>
        {% else %}
        {% if polling_station.custom_finder %}
          <p>You should get a "poll card" through the post telling you where to vote.</p>
          {% if polling_station.custom_finder.can_pass_postcode %}
          <p>You can find your polling station by
            <a href="{{ polling_station.custom_finder.base_url}}{{polling_station.custom_finder.encoded_postcode}}">
              following this link</a>
          {% else %}
          <p>You can find your polling station by
            <a href="{{ polling_station.custom_finder.base_url}}">following this link and entering your postcode</a>
          {% endif %}
          </p>
        {% else %}
          <p>If you haven't got one, or aren't sure where to vote, you should call
            {{ polling_station.council.name }} on <a href="tel:{{ polling_station.council.phone }}">
              {{ polling_station.council.phone }}</a></p>
        {% endif %}
        {% endif %}

      </div>
      {% if not polling_station.custom_finder %}
      <div class="columns large-6">
        <div id="area_map" style="height:400px;"></div>
      </div>
      {% endif %}
    </div>

    <div style="clear:both"></div>




    {% if not polling_station.custom_finder %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

    <script type="text/javascript">
      // Maps
      window.create_area_map = function(polling_station_point) {
        var polling_station_location = polling_station_point;
        window.polling_station_location = polling_station_location;

        var map = L.map('area_map', {zoomControl:true});
        map.dragging.disable();
        // map.touchZoom.disable();
        // map.doubleClickZoom.disable();
        map.scrollWheelZoom.disable();

        L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}', {
          type: 'map',
          ext: 'jpg',
          attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          subdomains: '1234'
        }).addTo(map);

        window.map = map;

        L.marker(polling_station_location, {
          'clickable': true,
        }).addTo(map);

        map.setView(polling_station_location,15);
      };



      var polling_station_point = [
        {{ polling_station.polling_station.location.latitude }},
        {{ polling_station.polling_station.location.longitude }}
      ];

      create_area_map(polling_station_point);

    </script>
    {% endif %}

  </div>
</section>
