{# TODO this is a mess! Clean it up somehow #}
{% load postcode_tags %}
{% load humanize %}

<div class="card" id="polling_place">

  <h2 id='where'>Where to vote</h2>

  {% if voter_id_required %}
    {% if voter_id_required.1 %}
      {% for pe, metadata in voter_id_required %}
        {# support more than one metadata – no cases of this yet #}
        <h2>{{ metadata.title }}</h2>
      {% endfor %}
    {% else %}
    <h3>{{ voter_id_required.0.1.title }}</h3>
    <p><strong>{{ voter_id_required.0.1.detail }}</strong></p>
    <a href="{{ voter_id_required.0.1.url }}">Read more</a>
    {% endif %}
  {% else %}
  You don't need to take your poll card with you{% if not postcode|ni_postcode %}, or any identification{% endif %}.
  {% endif %}


  {% if polling_station.polling_station_known %}
    <p>
      Your polling station is <strong>{{ polling_station.polling_station.properties.address }}</strong>.
      It will be open from <strong>7am to 10pm</strong>
      <strong>
      {% for election in elections_by_date %}{{ election.grouper|naturalday:"\o\n l j F Y" }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% endif %}{% endfor %}</strong>.


      {% if not voter_id_required %}
        You don't need to take your poll card with you{% if not postcode|ni_postcode %}, or any identification{% endif %}.
      {% endif %}
    </p>
  {% else %}
    {% if polling_station.custom_finder %}
        <p>You can find your polling station by
        <a href="{{ polling_station.custom_finder }}">
        following this link</a>.</p>
    {% else %}
      {% now "j F Y" as current_day %}
      {% if elections_by_date and elections_by_date.0.grouper|date:"j F Y" == current_day %}
      <strong>Polling stations are open from 7am till 10pm today.</strong>
      {% endif %}
      {% if polling_station.addresses %}
        <p>Your polling station in {{ postcode }} depends on your address. <a href="https://wheredoivote.co.uk/postcode/{{ postcode }}/">Check the correct polling station for your address &raquo;</a></p>
      {% else %}
        <p>You should get a "poll card" through the post telling you where to vote.</p>
        <p>If you haven't got one, or aren't sure where to vote, you should call
        {% if postcode|ni_postcode %}
          the Electoral Office
          {% if polling_station.council%}
            on <a href="tel:{{ polling_station.council.phone }}">
          {{ polling_station.council.phone }}</a>.</p>
          {% endif %}
        {% elif polling_station.council %}
          {{ polling_station.council.name }} on <a href="tel:{{ polling_station.council.phone }}">
          {{ polling_station.council.phone }}</a>.</p>
        {% else %}
          your local council.</p>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if postcode|ni_postcode %}
        <p>You will need photographic identification.</p>
    {% endif %}
  {% endif %}
  <p>
  {% if postcode|ni_postcode %}
      <a href="http://www.eoni.org.uk/Vote/Voting-at-a-polling-place" target="_top">
      Read more about how to vote in Northern Ireland</a>.
    {% else %}
      <a href="https://www.gov.uk/voting-in-the-uk/polling-stations" target="_top">
      Read more about how to vote</a>.
  {% endif %}
  </p>

  {% if polling_station.polling_station_known and polling_station.polling_station.geometry %}
    <p>
      <a href="https://wheredoivote.co.uk/postcode/{{ postcode }}">
        Get walking directions from {{ postcode }}</a>.
    </p>
  {% endif %}

  {% if not polling_station.custom_finder and polling_station.polling_station_known and polling_station.polling_station.geometry %}
  <div id="area_map" style="height:400px;"></div>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

  <script type="text/javascript">
  // Maps
  window.create_area_map = function(polling_station_point) {
  var polling_station_location = polling_station_point;
  window.polling_station_location = polling_station_location;

  var map = L.map('area_map', {zoomControl:true});
  map.dragging.disable();
  // map.touchZoom.disable();
  // map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.{ext}', {
  ext: 'png',
  attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
  subdomains: 'abc'
  }).addTo(map);

  window.map = map;

  L.marker(polling_station_location, {
  'clickable': true,
  }).addTo(map);

  map.setView(polling_station_location,15);
  };

  var polling_station_point = [
  {{ polling_station.polling_station.geometry.coordinates.1 }},
  {{ polling_station.polling_station.geometry.coordinates.0 }}
  ];

  create_area_map(polling_station_point);

  </script>
  {% endif %}

</div>
