{% load markdown_deux_tags %}
{% load humanize %}
{% load static %}

<section id="election_{{ postelection.election.slug }}">
  <div class="card">
    {% if postelection.cancelled %}
      {% include "elections/includes/_cancelled_election.html" with object=postelection only %}
    {% else %}
      <h1>
        <span aria-hidden="true">🗳️</span>
        {{ postelection.election.nice_election_name }}
        <span aria-hidden="true">🗳️</span>
      </h1>
      {% if postelection.friendly_name != postelection.election.nice_election_name %}
        <h2>{{ postelection.friendly_name }}</h2>
      {% endif %}
      {% if postelection.metadata.coronavirus_message %}
        <div style="border:1px solid red;margin:1em 0;padding:1em">
          <strong>{{ postelection.metadata.coronavirus_message|safe }}</strong>
        </div>
      {% endif %}
      <p>
        This election
        {% now "j F Y" as current_day %}
        {% if postelection.election.election_date|date:"j F Y" == current_day %}
          <strong>is being held today</strong>.
          Polls are open till {% if "local.city-of-london" in postelection.election.slug %}8pm{% else%}10pm{%endif %}.
        {% else %}
          {{ postelection.election.in_past|yesno:"was,will be" }} held
          <strong>{{ postelection.election.election_date|naturalday:"\o\n l j F Y" }}</strong>.
        {% endif %}
      </p>

      {% if object.election.slug == "europarl.2019-05-23"%}
        {% include "elections/includes/eu_results.html" with card=0 %}
      {% endif %}


      <p>
        {% if postelection.election.in_past %}
          <strong>{{ postelection.people|length }} candidates</strong> stood in
          {{ postelection.post.label }}&nbsp;{{ postelection.get_name_suffix }}.
        {% else %}
          {# Display different messages depending on the number of candidates #}
          {# Case: No candidates for a contested election #}
          {% if not postelection.people and postelection.contested %}
            We don't know of any candidates standing yet.
            You can help improve this page: <a href="{{ postelection.ynr_link }}">
            add information about candidates to our database</a>.
          {% else %}
            {% if postelection.locked %}
              {# Case: Candidates and the post is locked #}
              {% if postelection.voting_system.slug == "PR-CL" %}
                You will have one vote, and can vote for a single party list or independent candidate.
              {% else %}
                You can choose from <strong>{{ postelection.people|length }} candidates</strong>
                in the
                {% if 'mayor' in postelection.election.slug %}
                  {{ postelection.election.nice_election_name }}.
                {% else %}
                  {{ postelection.post.label }} {{ postelection.get_name_suffix }}.
                {% endif %}

                {% if postelection.winner_count and postelection.election.voting_system_id == 'FPTP' %}
                  You will have {{ postelection.winner_count|intword }} vote{{ postelection.winner_count|pluralize }}.
                {% endif %}
              {% endif %}
              <p><a href='#where'>Where do I vote?</a></p>
              {% if postelection.get_voting_system %}
                {% include "elections/includes/_how-to-vote.html" with voting_system=postelection.get_voting_system %}
              {% endif %}
            {% else %}
              {# Case: Candidates and the post is NOT locked (add CTA) #}
              The official candidate list has not yet been published.
              However, we expect at least <strong>{{ postelection.people|length }} candidate{{postelection.people|pluralize}}</strong>
              to stand in the {{ postelection.post.label }} {{ postelection.get_name_suffix }}.

              You can help improve this page: <a href="{{ postelection.ynr_link }}">
              add information about candidates to our database</a>.
            {% endif %}
          {% endif %}
        {% endif %}
      </p>

      {% if not postelection.contested %}
        <div class="panel callout radius" style="background-color:#ffff99">
          This election isn't contested. That means that there are the same number of candidates nominated
          as there are seats up for election, so they all get positions without an election taking place.
        </div>
      {% endif %}

      {% if postelection.people %}
        {% if postelection.display_as_party_list %}
          {% include "elections/includes/_people_list_with_lists.html" with people=postelection.people %}
        {% else %}
          {% include "elections/includes/_people_list.html" with people=postelection.people %}
        {% endif %}
      {% endif %}

      {% if postelection.expected_sopn_date and not postelection.election.in_past %}
        <p>

          {% now "Y-m-d" as today %}
          {% if postelection.expected_sopn_date|date:"Y-m-d" <= today %}
            {% if postelection.locked %}
              {# If the ballot is locked, it must have a SOPN attached#}
              The <a href="{{ postelection.ynr_sopn_link }}">official candidate list</a> was
            {% else %}
              The official candidate list should have been
            {% endif %}
          {% else %}
            The official candidate list should be
          {% endif %}
          published on {{ postelection.expected_sopn_date|date:"j F Y" }}.
        </p>
      {% endif %}


      {% if postelection.election.election_booklet %}
        <h4><a href="{% static postelection.election.election_booklet %}">
          Read the official candidate booklet for this election.</a></h4>
      {% endif %}

      {% if postelection.election.description %}
        {{ postelection.election.description|markdown }}
      {% endif %}



      {% if postelection.election.voter_age %}
        <details>
          <summary>Can you vote in this election?</summary>
          <h5>Age</h5>
          <p>You need to be over {{ postelection.election.voter_age }} on the
            {{ postelection.election.election_date|date:"jS" }}
            of {{ postelection.election.election_date|date:"F Y" }} in order to vote in this election</p>
          {% if postelection.election.voter_citizenship %}
            <h5>Citizenship</h5>
            {{ postelection.election.voter_citizenship|markdown }}
          {% endif %}
        </details>
      {% endif %}

    {% endif %}
  </div>

  {% if postelection.husting_set.exists %}
    <div class="card">
      <h3>
        <span aria-hidden="true">📅</span>
        Election events near you
        <span aria-hidden="true">📅</span>
      </h3>
      <p>You can meet candidates and question them at local hustings.</p>
      {% include "elections/includes/_hustings_list.html" with hustings=postelection.husting_set.all %}
    </div>
  {% endif %}
  {% if postelection.ballotnewsarticle_set.exists %}
    {% include "news_mentions/news_articles.html" with news_articles=postelection.ballotnewsarticle_set.all %}
  {% endif %}

  {% if postelection.wikipedia_bio %}
    <div class="card">
      <h3>Wikipedia</h3>
      <p>{{ postelection.wikipedia_bio }}</p>
      <p><a href="{{ postelection.wikipedia_url }}">Read more on Wikipedia</a></p>
    </div>
  {% endif %}
  {% include "elections/includes/_ld_election.html" with election=object %}
</section>
