{% load humanize %}
<aside role="complementary" class="card next_election">
  {% if postelections.count == 0 %}
    We don't know of any upcoming elections.
  {% else %}
    {% regroup postelections by election.election_date as header_elections_by_date %}
    <h2>Elections in your area</h2>

    {% for election_group in header_elections_by_date %}


        {% if election_group.list.0.past_date %}
              {% ifchanged election_group.list.0.past_date %}
                <h3>Recently past elections</h3>
              {% endifchanged %}
            {% endif %}
        {% if election_group.list.0.past_date %}
          <h4>
            {{ election_group.grouper|naturalday:"l j F Y"|title }}
          </h4>
        {% else %}
          <h3>
            {{ election_group.grouper|naturalday:"l j F Y"|title }}
          </h3>
          <p>
            You will have {{ election_group.list|length|apnumber }}
            ballot paper{{ election_group.list|length|pluralize }} to fill out.
          </p>

        {% endif %}


        <ul>
          {% for ballot in election_group.list %}
          <li {% if ballot.past_date %}class="past_elections"{% endif %}>

            <a href="#election_{{ ballot.election.slug }}">
            {{ ballot.election.nice_election_name }}
            {% if ballot.post.label != post.election %}
              {% if 'mayor' not in ballot.election.slug %}
                : {{ ballot.post.label }}
              {% endif %}
            {% endif %}
            </a>
            {{ ballot.short_cancelled_message_html }}
          </li>
          {% endfor %}
        </ul>
    {% endfor %}
  {% endif %}

<p>There may also be parish, town or
          community council elections in some areas.</p>
</aside>
