/* Cards */

.postcode_card {
  text-align:center;
  h2 {
    margin-bottom:0.5em;
  }
  button {
    margin-top:1em;
  }
}

.party_card {
  width:400px;
  @include media(tablet) {
    width:50%;
    max-width:180px;
  }

  float:left;
  position:relative;
}



.candidate_card {
  background-color:#F6F6F6;

  margin: 10px;
  padding: 10px;
  height: 13rem;
  position: relative;
  float: left;
  width: 40%;

//  &.candidate_card_list_candidate {
//    width:255px;
//  }
  @include media(tablet) {
    float: none;
    width: initial;
    margin: 0 -10px 10px -10px;
  }

  @include media(mobile) {
    padding: 20px;
    height: 17rem;
  }

  &.candidate_card_list_candidate {
    height: 13rem;
  }

  header {
    div.candidate_info {
      padding: 20px 20px 0 20px;

      @include media(mobile) {
        text-align:center;
        float: none;
      }

      h4.candidate_name {
        font-size: 1.3rem;
      }
    }

    a.person_photo {
      float: right;
      display: block;
      width: 100px;
      margin: 20px;

      @include media(mobile) {
        text-align:center;
        float: none;
        margin: auto;

        img {
          width:100px;
        }
      }
    }
  }

}


.party_header  {
  overflow:auto;
  & > * {
    float:left;
  }
  & > img {
    padding:0 0.5em 0 0;
  }
}
