/* Cards */

.card {
  width: 100%;
  box-sizing: border-box;
  float: left;
  a {
    word-wrap: break-word;
  }

  h3 {
    margin-bottom: 5px;
  }

  .leaflet {
    float: left;
    margin-right: 20px;
  }

  p.small {
    font-size: 0.8em;
    font-weight: bold;
  }

  .twitter_container {
    max-width: 600px;
    @include media(tablet) {
      width: 100%;
    }
  }
  .cv_thumb, .manifesto_image {
    height: 120px;
    float: left;
    border: 1px solid #ccc;
    margin: 5px 20px 20px 0;
    @include media(mobile) {
      display: block !important;
      float: none !important;
      clear: both;
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100px;
    }
  }
  .person_photo.detail {
      @include media(mobile) {
        display: block;
        float: none;
        clear: both;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
  }
}

.info_card {
  background: #FFF;
}

.party_card {
  width:400px;
  @include media(tablet) {
    width:50%;
    max-width:180px;
  }

  float:left;
  position:relative;
}

.candidate_grid {
  margin: 0 -10px 10px -10px;
    @include media($max-width: 530px) {
      margin: 0 -20px 10px -10px;
    }

}

.candidate_card {
  background-color:#F6F6F6;
  display:inline-block;
  vertical-align: top;
  width: 100%;
  position:relative;
  box-sizing:border-box;
  margin: 0;

  @include media(tablet) {
    margin: 5px;
    padding: 0 0 0 15px;
    height: 132px;
    width: 100%;
    line-height:1.1em;
  }

  @include media(desktop) {
    margin: 10px;
    width: calc(50% - 25px);
    padding: 0 0 0 15px;
    line-height:1.3em;
  }

  @include media(mobile) {
    padding: 10px;
    height: auto;
    margin-bottom: 1em;
  }

  &.candidate_card_list_candidate {
    height: 13rem;
  }
  &.person_elected {
    width: 70%;
    margin:0 auto 40px auto;
    display:block;
    @include media(desktop) {
      width: calc(100% - 25px);
    }
    @include media(mobile) {
      width:100%;
      padding: 0 0 0 15px;
    }
    .elected_text {
      color:$dc-bright-pink;
    }

  }

  span.candidate_info {
    display: block;
    padding: 5px 2px 0 0px;
    font-size:0.8em;

    @include media(mobile) {
      text-align:center;
      float: none;
    }

    h4.candidate_name {
      font-size: 1.3rem;
      margin:0;
      a {
        color:$heading-text-colour;
      }
    }
    p {
      margin:0;
    }
    .card_party {
      color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icons {
      color: #BEBEBE;
      cursor: pointer;
      .text-icon {
        color: #A9A9A9;
        font-size: 0.6em;
        border: 1px solid #ccc;
        padding: 2px;
        border-radius: 2px;
        position: relative;
        top: -2px;
      }
      [class^="icon-"]:before, [class*=" icon-"]:before {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .more_info {
      display: block;
      position:absolute;
      bottom:0;
      cursor: pointer;
      @include media(mobile) {
        position:relative;
        text-align:center;
      }
    }
  }

  img.person_photo {
    float: right;
    display: block;
    width: 130px;
    margin: 0 0 0 5px;
    @include media(mobile) {
      text-align:center;
      float: none;
      margin: auto;
      img {
        width:100px;
      }
    }
  }

}

.back {
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0;
}

.party_header  {
  overflow:auto;
  & > * {
    float:left;
  }
  & > img {
    padding:0 0.5em 0 0;
  }
}

blockquote {
  font-style:italic;
}


.donate_card em {
  background-color: yellow;
  font-style: normal;
  padding: 0.1em;
}

.donate_card .link-button {
  background-color: #00AEEF;
  border: 0;
  padding: 0.4em 0.6em;
  margin: 0.5em 0;
  font-size: 1em;
  color: #FFF;
  border-bottom: 3px solid #0089bc;
}
