/* Cards */

.card {
  width: 100%;
  box-sizing: border-box;
  float: left;

  h3 {
    margin-bottom: 10px;
  }

  .leaflet {
    float: left;
    margin-right: 20px;
  }

  p.small {
    font-size: 0.8em;
    font-weight: bold;
  }

  .twitter_container {
    max-width: 600px;
    @include media(tablet) {
      width: 100%;
    }
  }

  .manifesto_image {
    float: left;
    margin: 5px 20px 20px 0;
    height: 120px;
    border: 1px solid #ccc;
  }
}

.info_card {
  background: linear-gradient(to bottom, #f7f7f7, #fcfcfc);;
}

.postcode_card {
  text-align:center;
  h2 {
    margin-bottom:0.5em;
  }
  button {
    margin-top:1em;
  }
}

.party_card {
  width:400px;
  @include media(tablet) {
    width:50%;
    max-width:180px;
  }

  float:left;
  position:relative;
}

.candidate_grid {
  margin: 0 -10px 10px -10px;
}

.candidate_card {
  background-color:#F6F6F6;
  display:inline-block;
  vertical-align: top;
  width: 100%;
  position:relative;
  box-sizing:border-box;
  margin: 10px 0;

  @include media(tablet) {
    margin: 5px;
    padding: 0 0 0 15px;
    height: 130px;
    width: 100%;
    line-height:1.1em;
  }

  @include media(desktop) {
    margin: 10px;
    width: calc(50% - 25px);
    padding: 0 0 0 15px;
    line-height:1.3em;
  }

  @include media(mobile) {
    padding: 10px;
    height: auto;
  }

  &.candidate_card_list_candidate {
    height: 13rem;
  }

  div.candidate_info {
    padding: 5px 2px 0 0px;
    font-size:0.8em;

    @include media(mobile) {
      text-align:center;
      float: none;
    }

    h4.candidate_name {
      font-size: 1.3rem;
      margin:0;
      a {
        color:$heading-text-colour;
      }
    }
    p {
      margin:0;
    }
    .card_party {
      color: black;
    }
    .more_info {
      position:absolute;
      bottom:0;
      @include media(mobile) {
        position:relative;
        text-align:center;
      }

    }
  }


  img.person_photo {
    float: right;
    display: block;
    width: 130px;
    margin: 0px;
//    margin-top: 0.7em;

    @include media(mobile) {
      text-align:center;
      float: none;
      margin: auto;

      img {
        width:100px;
      }
    }
  }

}


.party_header  {
  overflow:auto;
  & > * {
    float:left;
  }
  & > img {
    padding:0 0.5em 0 0;
  }
}
