@import 'dc_base';

body {
    background: #eee;
}

@mixin box_shadow ($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}


.party_list_row {
  overflow:scroll;
  clear:right;
  .party_list_row_inner {
    width:2000%;
  }
}
// Cards
.card {
    table {
        thead {
            background: #E6E6E6;

            td {
                font-weight: normal;
            }
        }

        tbody, thead {
            border: 0;

            tr {
                &:nth-child(even) {
                    background-color: #f7f7f7;
                }
            }
        }
    }
}

.next_election {
    h2 {
        color: #666;

        span.postcode {
            color: #222;
        }
    }
}

.party_card {
  width:400px;
  @include breakpoint(medium down) {
    width:50%;
    max-width:180px;
  }

  float:left;
  position:relative;
}



.candidate_card,  {
  background-color:#FEFEFE;
  &:hover {
    @include box_shadow(2);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    z-index:10;
  }
  @include box_shadow(1);
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;

  margin:0.4em;
  padding:0;
  width:350px;
  height:197px;
  float:left;
  position:relative;

//  &.candidate_card_list_candidate {
//    width:255px;
//  }
  @include breakpoint(medium down) {
    width:95%;
    height:260px;
    &.candidate_card_list_candidate {
      width:110px;
    }
  }

  header {
    .candidate_info {
      position:absolute;
      top:1.5em;
      left:1.5em;
      font-size: 1em;
      width: 205px;

      @include breakpoint(medium down) {
        top:110px;
        left:0;
        width:100%;
        margin:0.5em;
        text-align:center;
      }
      @include breakpoint(small down) {
        width:90%;
      }



      h4.candidate_name {
        font-size: 1.3em;
      }

    }

    .candidate_list_position {
      position:absolute;
      top:1.5em;
      left:0.5em;
      display:block;
      background-color:#FFF;
      font-size:2em;
    }

    .person_photo {
      position:absolute;
      top:1.5em;
      right:1.5em;
      display:block;
      width:100px;
      @include breakpoint(medium down) {
        top:10px;
        left:0;
        width:100%;
        text-align:center;
        img {
          width:100px;
        }
      }
    }
  }

    footer {
//      background-color:#263238;
      background-color:#E2E2E2;
      height:50px;
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      .candidate_extra_info {
        position:absolute;
        bottom:15px;
        left:15px;
        width:60px;
        height:60px;
        border:1px solid #CCC;
        background-color:#FFF;
      }
      .contact_links {
        margin:0;
        padding:0;
        li {
          list-style-type:none;
          margin:0 0 0 0.5em;
          padding:0;
          float:left;
          a {
            display: block;
            font-size: 0.9em;
            padding: 0.3em;
            color: #FFF;
            border-radius: 50%;
            background-color: #EFEFEF;
            display: block;
            height: 2em;
            text-align: center;
            width: 2em;
            margin: 0.8em 0.3em;
            @include box_shadow(1);
            i {
              color:#2A8B76;
            }
            &.more {
              position:absolute;
              background-color:#FFF;
              bottom:-2px;
              right:0px;
              font-weight:bold;
            }

          }
        }
      }
  }
}


#bottom_banner {
  margin-top: 2rem;

  p {
    margin:0;
    line-height:2em;
    color: #666;
    text-align: center;
    background: #ddd;

    a {
      font-weight: bold;
      color: #666;
      text-decoration: underline;
    }
  }
}


.person_banner {
    button.person_edit {
        float: right;

        a:link, a:visited {
            color: white;
        }
    }

    img.person_photo {
        height: 120px;
        float: left;
        margin-right: 20px;
    }

    h2.person_name {

    }
}


.mentions_list {
  .mention_item {
    margin-bottom:3em;
    h4 {
      font-size:1.3em;
    }
    blockquote {
      color:$black;
    }
  }
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/static/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/static/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/static/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/static/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/static/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
a.material-icons:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}


dt {
  margin-top:1em;
}
dd {
  margin-left:1em;
}
