@import 'dc_base';
@import 'cards';
@import 'feedback_form';

#bottom_banner {
  margin-top: 2rem;

  p {
    margin:0;
    line-height:2em;
    text-align: center;
    background: $dc-light-grey;
  }
  a {
    color: $dc-bright-pink;
  }
}

.person_banner {
    overflow:auto;

    img.person_photo {
        height: 150px;
        float: right;
        margin-right: 20px;
    }

    h2.person_name {
      float:left;
    }
    p {
      clear:left;
    }
}

.mentions_list {
  .mention_item {
    margin-bottom:3em;
    h4 {
      font-size:1.3em;
    }
    blockquote {
      color:$black;
    }
  }
}


dt {
  margin-top:1em;
}
dd {
  margin-left:1em;
}


.party_list_row {
  clear:right;
}

.next_election {
    h2 {
        color: #666;

        span.postcode {
            color: #222;
        }
    }
}
