{% extends "base.html" %}
{% load static %}


{% block og_image %}{% if object.photo %}{% static object.photo.url %}{% endif %}{% endblock og_image %}


{% block og_title %}{{ object.name }}{% endblock og_title %}
{% block page_title %}{{ object.name }}{% endblock page_title %}
{% block og_description %}Standing for '{{ object.posts.all.0.label }}' in {{ object.posts.all.0.election.name }}{% endblock og_description %}

{% block content %}
<section class="columns large-12">
  <div class="card">
    <div class="row">
      <div class="columns large-2">
        {% if object.photo %}
        <img src="{% static object.photo.url %}" height="120px" width="120px">
        {% endif %}
      </div>
      <div class="columns large-10">
      <h2>
        {{ object.name }}</h2>
        {% if object.wikipedia_bio %}
        <p>{{ object.wikipedia_bio }} <a href="{{ object.wikipedia_url }}">Read more on Wikipedia</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="columns large-12">
  <div class="card">
    <h3>Contact details</h3>
    <dl>
      {% if object.email %}
      <dt>Email</dt>
      <dd><a href="mailto:{{ object.email }}">{{ object.email }}</a></dd>
      {% else %}
      We don't know {{ object.name }}'s email address.
      <a href="https://candidates.democracyclub.org.uk/person/{{ object.ynr_id }}">Can you add it?</a>
      {% endif %}




        {% if object.twitter_username %}
        <dt>
          Twitter
        </dt>
        <dd>
          <a href="https://twitter.com/{{ object.twitter_username }}" title="{{ object.name }}'s Twitter profile">
            @{{ object.twitter_username }}
          </a>
        </dd>
        {% endif %}
        {% if object.facebook_page_url %}
        <dt>Facebook</dt>
        <dd>
          <a href="{{ object.facebook_page_url }}" title="{{ object.name }}'s Facebook profile">
            {{ object.facebook_page_url }}
          </a>
        </dd>
        {% endif %}
        {% if object.linkedin_url %}
        <dt>LinkedIn</dt>
        <li>
          <a href="{{ object.linkedin_url }}" title="{{ object.name }}'s LinkedIn profile">
            {{ object.linkedin_url }}
          </a>
        </li>
        {% endif %}
        {% if object.homepage_url %}
        <dt>Home Page</dt>
        <dd>
          <a href="{{ object.homepage_url }}" title="{{ object.name }}'s home page">
            {{ object.homepage_url }}
          </a>
        </dd>
        {% endif %}
        {% if object.wikipedia_url %}
        <dt>Wikipedia</dt>
        <dd>
          <a href="{{ object.wikipedia_url }}" title="{{ object.name }}'s Wikipedia page">
            {{ object.wikipedia_url }}
          </a>
        </dd>
        {% endif %}
    </dl>
  </div>
</section>

<section class="columns large-12">
  <div class="card">
    <h3>Elections</h3>
    {% if object.current_posts %}
      <p>{{ object.name }} is a candidate in the following upcoming elections:</p>
      <ul>
      {% for post in object.current_posts %}
        <li><strong>{{ post.label }}</strong>: {{ post.election }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if object.past_posts %}
      <p>{{ object.name }} previously stood in the following elections:</p>
      <ul>
      {% for post in object.past_posts %}
        <li><strong>{{ post.label }}</strong>: {{ post.election }}</li>

      {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% if object.mention_set.all %}
  {% include "mentions/includes/_mentions_list.html" with mentions=object.mention_set.all %}
  {% endif %}

</section>



{% endblock content %}

