<section class="{% if not hide_card %}card donate_card{% endif %}">
    {% if not hide_header %}
    <h2>
      <span aria-hidden="true">🙏</span>
      Democracy runs on good information
      <span aria-hidden="true">🙏</span>
    </h2>
    {% endif %}

    <p>You can help make this website better for everyone.</p>
    <p>This site is run by Democracy Club. It receives no government funding.
      <em>Please chip in £5 to help get everyone the information they need to take part.</em>
    </p>

    <a href="https://pay.gocardless.com/AL0002AJJRJAQH" class="link-button" id="donate_button">
      Support Democracy Club</a>
</section>
