{% load dc_forms %}
<h2>Free election reminders</h2>
{% if postcode in request.session.notification_for_postcode %}
  <h4>Thanks</h4>
  <p>You're signed up for notifications about elections in {{ postcode }}.</p>
{% else %}
  <form method="post">
    {% csrf_token %}
    {{ notification_form.errors }}
    <p>We can email you the next time there is an election in {{ postcode }}.</p>

    <input type="hidden" value="{{ postcode }}" id="{{ notification_form.postcode.id_for_label }}" name="{{ notification_form.postcode.name }}">
    {{ notification_form.email|dc_form }}
    {{ notification_form.form_name }}

    <button type=submit class="button">Sign up</button>
  </form>
{% endif %}

