{% extends "base.html" %}

{% load breadcrumb_tags %}
{% load markdown_deux_tags %}

{% block og_image %}{% if object.emblem %}{{ CANONICAL_URL }}{{ object.emblem.url }}{% endif %}{% endblock og_image %}
{% block og_title %}{{ object.party_name }}{% endblock og_title %}
{% block page_title %}{{ object.party_name }}{% endblock page_title %}
{% block og_description %}{{ object.personpost_set.all.count }} candidates{% endblock og_description %}


{% block content %}
<div class="card">
  <div class="party_header">

    {% if object.emblem %}
    <img src="{{ object.emblem.url }}" style="max-width:300px">
    {% endif %}
    <div>
      <h2>{{ object.party_name }}</h2>
      <p>{{ object.personpost_set.all.count }} candidates</p>
    </div>
  </div>

  {% if object.description %}
  {{ object.description|markdown }}
  {% endif %}
  {% if object.wikipedia_url %}
  <p><a href="{{ object.wikipedia_url }}">Read more on wikipedia</a></p>
  {% endif %}
</div>

<div class="card">
  {% regroup object.personpost_set.all.counts_by_post by election__name as people_by_election %}

  {% for election in people_by_election %}
  <h4>{{ election.grouper }}</h4>
  {% for post in election.list %}
    <dl>
      <dt>
        <a href="{{ post.get_absolute_url }}">
          {{ post.post__label }}
        </a>
        {% if post.post_election__cancelled %}
          (The poll for this election was cancelled)
        {% endif %}
      </dt>
      <dd>
        {{ post.num_candidates }} candidate{{ post.num_candidates|pluralize }}
      </dd>
    </dl>
  {% endfor %}
  {% endfor %}
</div>
{% endblock content %}


{% block breadcrumbs %}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}
  {% url 'parties_view' as parties %}
  {% breadcrumb_item parties 'Parties' 2 %}
  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.party_name }}</li>
</ol>

{% endblock breadcrumbs %}
