<li>
  <a href="{{ manifesto.canonical_url }}" rel="noopener noreferrer">
    {{ manifesto.country }} manifesto
    {% if manifesto.language != "English" %} in  {{ manifesto.language }}{% endif %}
    {% if manifesto.canonical_url == manifesto.pdf_url %}(PDF){% endif %}
  </a>

    {% if manifesto.canonical_url != manifesto.pdf_url %}
      <br><a href="{{ manifesto.pdf_url }}" rel="noopener noreferrer">PDF Version</a>
    {% endif %}
    {% if manifesto.easy_read_url %}
      <br><a href="{{ manifesto.easy_read_url }}">Easy Read version</a>
    {% endif %}
</li>
