{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block og_title %}About WhoCanIVoteFor{% endblock og_title %}
{% block page_title %}About WhoCanIVoteFor{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="columns large-8 large-centered">
    <div class="card">

  {% markdown %}

# About WhoCanIVoteFor

## Contact

Please email **[hello@democracyclub.org.uk](mailto:hello@democracyclub.org.uk)**
with any feedback or bug reports, tweet us **[@democlub](https://twitter.com/democlub)** or
**[talk to us on Facebook](https://www.facebook.com/democracyclub/)**.

If you'd like to discuss this site or any other project relating to elections in
the UK, we'd suggest that you post to the **[Democracy Club Google Group](https://groups.google.com/forum/#!forum/democracy-club)**.

## About

This site was developed by [Democracy Club](https://democracyclub.org.uk), specifically
[Sym Roe](https://twitter.com/symroe), [Joe Mitchell](https://twitter.com/j0e_m), [Tim Green](https://twitter.com/tfgg2), [Andy Lulham](https://twitter.com/andylolz) and [David Miller](https://twitter.com/thatdavidmiller).  This site would not be possible without the help
of hundreds of contributors to [Democracy Club Candidates](https://candidates.democracyclub.org.uk/), and in turn the
support of [mySociety](https://www.mysociety.org/).

The data on candidates from the UK general election in 2010 is all taken
from [Edmund von der Burg](https://twitter.com/evdb)'s YourNextMP.com, with many thanks.

### Data and license

You can use the data from this site, via the [Democracy Club Candidates](https://candidates.democracyclub.org.uk/)
API or CSV download, under the
terms of the Creative Commons license Attribution-ShareAlike ([CC-BY-SA](https://creativecommons.org/licenses/by-sa/3.0/)) with
the exception of:

- The party logos, which are taken from the Electoral Commission's website.

- Candidate photos, which are typically either submitted by the candidates
themselves, or from sources where it seems reasonable that we might use them
on this site, such as the party's official page for that candidate, or their
social media profile picture.

If the [CC-BY-SA](https://creativecommons.org/licenses/by-sa/3.0/) licence is problematic for you,
but you feel that you have a worthwhile use of the data in mind, please
contact us to discuss your situation further.

### Contributing

The source code for this site is available on [GitHub](https://github.com/DemocracyClub/WhoCanIVoteFor),
and you can find [a list of known bugs](https://github.com/DemocracyClub/WhoCanIVoteFor/issues) there as well.
If you want to help out, contact us or just go ahead and submit a pull request.


## Privacy Policy
[The privacy policy of this site can be found here]({% url 'privacy_view' %}).

## Disclaimer

The data on this website is crowd-sourced and may not be
complete (or may contain inaccuracies). If you find an error, please either
update the page yourself, or email us to report the problem.

  {% endmarkdown %}
    </div>
  </div>
</div>
{% endblock content %}

