{% extends "dc_base.html" %}
{% load pipeline %}
{% load static %}


{% block site_meta %}
    <title>
      {% block base_title %}
      {% block page_title %}{% endblock page_title %} | WhoCanIVoteFor?
      {% endblock base_title %}
    </title>
    <link rel="canonical" href="{{ CANONICAL_URL }}{{ request.path }}" />
    <meta property="og:site_name" content="WhoCanIVoteFor?" />
    <meta property="og:url" content="{{ CANONICAL_URL }}{{ request.path }}" />
    <meta property="fb:app_id" content="262795130596272" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democlub">
    <meta property="og:image" content="{{ CANONICAL_URL }}{% block og_image %}{% static "dc_theme/images/logo-large.png" %}{% endblock og_image %}" />
    <meta property="og:title" content="{% block og_title %}WhoCanIVoteFor?{% endblock og_title %}" />
    <meta property="og:description" content="{% block og_description %}Find out about elections, candidate and polling stations with Democracy Club's WhoCanIVoteFor tool.{% endblock og_description %}" />
    {% block page_meta %}{% endblock page_meta %}
{% endblock site_meta %}

{% block extra_site_css %}{% if USE_COMPRESSED_CSS %}
    <style type="text/css">{% include "_compressed_css.html" %}</style>
    <script id="loadcss">
    (function(u,s){!function(e){"use strict";var n=function(n,t,o){var l,r=e.document,i=r.createElement("link");if(t)l=t;else{var a=(r.body||r.getElementsByTagName("head")[0]).childNodes;l=a[a.length-1]}var d=r.styleSheets;i.rel="stylesheet",i.href=n,i.media="only x",l.parentNode.insertBefore(i,t?l:l.nextSibling);var f=function(e){for(var n=i.href,t=d.length;t--;)if(d[t].href===n)return e();setTimeout(function(){f(e)})};return i.onloadcssdefined=f,f(function(){i.media=o||"all"}),i};"undefined"!=typeof module?module.exports=n:e.loadCSS=n}("undefined"!=typeof global?global:this);for(var i in u){loadCSS(u[i],s);}}(['https://fonts.googleapis.com/css?family=Roboto','//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css','/static/css/styles.css'],document.getElementById("loadcss")));
    </script>
    <noscript>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    </noscript>
{% else %}
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    {% stylesheet 'styles' %}
    {% endif %}
{% endblock extra_site_css %}

{% block top_banner %}
{# <div class="callout warning" style="overflow:auto"> #}
{#     <div class="columns large-6 large-centered"> #}
{#       <h5>Archived site</h5> #}
{#       <p>This site contains information about the elections in May 2016. We will be updating the site in time for May 2017.</p> #}
{#       <a href="https://candidates.democracyclub.org.uk/">Keep an eye on our candidates web site</a> or <a href="https://democracyclub.org.uk/blog/">follow our blog for news on what we're up to.</a> #}
{#     </div> #}
{# </div> #}
{% endblock top_banner %}

{% block bottom_banner %}
<div id="bottom_banner">
  <div class="row">
    <div class="columns large-6 large-centered">
      <p><strong>BETA</strong>: This is a new website, <a href="{% url 'about_view' %}#contact">we'd love to hear your feedback</a>.</p>
    </div>
  </div>
</div>
{% endblock bottom_banner %}

{% block site_footer %}
</section>
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-7 columns">
      <p class="footer-links">
        <a href="{% url 'home_view' %}">Home</a>
        <a href="{% url 'about_view' %}">About</a>
        <a href="{% url 'privacy_view' %}">Privacy</a>
        <a href="{% url 'elections_view' %}">All Elections</a>
        <a href="{% url 'parties_view' %}">All Parties</a>
        <a href="https://democracyclub.org.uk/blog/">Blog</a>
        <a href="https://democracyclub.org.uk/contact/">Contact</a>
      </p>
      <p>Democracy Club is a UK based Community Interest Company that builds
        the digital infrastructure needed for a 21st century democracy</p>
      <p class="inline-list social">
        <a href="https://www.facebook.com/democracyclub/">
            <i class="fa fa-facebook" aria-hidden="true" style="color: white"></i>
        </a>
        <a href="https://twitter.com/democlub">
            <i class="fa fa-twitter" aria-hidden="true" style="color: white"></i>
        </a>
        <a href="https://github.com/DemocracyClub/WhoCanIVoteFor">
            <i class="fa fa-github" aria-hidden="true" style="color: white"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-660910-28', 'auto');
  ga('send', 'pageview');

</script>

<script>
/**
* Function that tracks a click on an outbound link in Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
*/
var trackOutboundLink = function(cat, url) {
  console.debug(cat, url);
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
      eventCategory: cat,
      eventAction: 'click',
     'hitCallback': function(){
       window.open(url, '_blank');
     }
   });
}
</script>
{% endblock site_footer %}


{% block extra_javascript %}
{% if debug %}
    <script>
    // shim fallback in debug mode
    if (typeof fallback == 'undefined') {
        var fallback = {
            ready: function(l, f) {
                if (typeof l == "function") {
                    l()
                } else {
                    f();
                }
            }
        }
    }
    </script>
    {% javascript 'scripts' %}
{% else %}
    <script src="{% static "dc_theme/js/fallback.min.js" %}"></script>
    <script type="text/javascript">
        fallback.load({
            scripts: [
                '{% static "/js/scripts.js" %}'
            ],
        });
    </script>
{% endif %}


{% endblock extra_javascript %}
