{% extends "dc_base.html" %}
{% load compile_static %}
{% load static %}

{% block base_title %}{% block page_title %}{% endblock page_title %} | WhoCanIVoteFor?{% endblock base_title %}

{% block site_meta %}
    <link rel="canonical" href="{{ CANONICAL_URL }}{{ request.path }}" />
    <meta property="og:site_name" content="WhoCanIVoteFor?" />
    <meta property="og:url" content="{{ CANONICAL_URL }}{{ request.path }}" />
    <meta property="fb:app_id" content="262795130596272" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democlub">
    <meta property="og:image" content="{{ CANONICAL_URL }}{% block og_image %}{% static "dc_theme/images/logo-large.png" %}{% endblock og_image %}" />
    <meta property="og:title" content="{% block og_title %}WhoCanIVoteFor?{% endblock og_title %}" />
    <meta property="og:description" content="{% block og_description %}Find out about elections, candidate and polling stations with Democracy Club's WhoCanIVoteFor tool.{% endblock og_description %}" />
    {% block page_meta %}{% endblock page_meta %}
{% endblock site_meta %}

{% block extra_site_css %}{% if USE_COMPRESSED_CSS %}{% include "_compressed_css.html" %}{% else %}
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "scss/main.scss"|compile %}" />{% endif %}
{% comment %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ CANONICAL_URL }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://query.example.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{% endcomment %}{% endblock extra_site_css %}





{% block site_footer %}
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <p class="footer-links">
        <a href="{% url 'home_view' %}">Home</a>
        <a href="{% url 'elections_view' %}">All Election</a>
        <a href="https://democracyclub.org.uk/blog/">Blog</a>
        <a href="https://democracyclub.org.uk/contact/">Contact</a>
      </p>
      <p>Democracy Club is a UK based Community Interest Company that builds
        the digital infrastructure needed for a 21st century democracy</p>
      <ul class="inline-list social">
        <a href="https://www.facebook.com/democracyclub/"><i class="fi-social-facebook"></i></a>
        <a href="https://twitter.com/democlub"><i class="fi-social-twitter"></i></a>
        <a href="https://github.com/DemocracyClub/WhoCanIVoteFor"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>
{% endblock site_footer %}
