{% extends "base.html" %}

{% block base_title %}Who Can I Vote For?{% endblock base_title %}
{% block og_title %}Who Can I Vote For?{% endblock og_title %}


{% block content %}

  <div class="card postcode_card">
    <p>Find out about candidates in your area by entering your postcode.</p>
    <form method=post>
      {% csrf_token %}
      {{ form }}
      {% if request.GET.invalid_postcode %}
      <p><strong>Sorry, we don't know the postcode {{ request.GET.postcode }}.  Is there another one you can try?</strong></p>
      {% endif %}
      <button type="submit" class="button">Search</button>
    </form>
  </div>

  <div style="margin-top:2rem;">
    {% block post_post_code_copy %}
    {% endblock %}
  </div>


</section>

{% endblock content %}
