{% extends "base.html" %}

{% block page_title %}Enter your postcode{% endblock page_title %}
{% block og_title %}Enter your postcode{% endblock og_title %}


{% block content %}
<section class="columns large-6 large-centered">
  <div style="margin-top:2rem;">
    {% block pre_post_code_copy %}
      <p style="font-size: 1.4rem;">Everyone in the UK has an election on 5 May 2016.</p>
      <p>Find your next election! Enter your postcode below!</p>
    {% endblock %}
  </div>

  <div class="card postcode_card">
    <form method=post>
      {% csrf_token %}
      {{ form }}
      <p><strong>Sorry, we don't know the postcode {{ request.GET.postcode }}.  Is there another one you can try?</strong></p>
      <button type="submit" class="button">Search</button>
    </form>
  </div>

  <div style="margin-top:2rem;">
    {% block post_post_code_copy %}
    {% endblock %}
  </div>


</section>

{% endblock content %}
