{% extends "base.html" %}

{% load breadcrumb_tags %}
{% load humanize %}

{% block page_title %}{{ object.name }}{% endblock page_title %}
{% block og_title %}{{ object.name }}{% endblock og_title %}
{% block og_description %}The {{ object.name }} {% if object.in_past %}was{% else %}will be{% endif %} held on {{ object.election_date }}.{% endblock og_description %}

{% block content %}

<div class="card">
    <h1>{{ object.name }}</h1>

    <p>The {{ object.name }}
      {% now "j F Y" as current_day %}
      {% if object.election_date|date:"j F Y" == current_day %}
      <strong>is being held today</strong>. Polls are open till 10pm.
      {% else %}
      {% if object.in_past %}was{% else %}will be{% endif %} held <strong>{{ object.election_date|naturalday:"\o\n l j F Y" }}</strong>.
      {% endif %}
    </p>

    {% if object.election_type != "ref" %}
        {% if election.person_set.count %}
          <p>{% if object.locked %}There are {% else %}We know about {% endif %}<strong>{{ election.person_set.count }}</strong> candidates
            {% if object.in_past %}that stood{% else %}standing{% endif %} for this election,
            in <strong>{{ object.post_set.count }}</strong> posts.</p>
          {% if not object.in_past and not object.locked %}
            <p><a href="{{ object.ynr_link }}">Add more at our candidate crowd-sourcing site</a></p>
          {% endif %}
          {% else %}
            {% if not object.in_past and not election.slug == 'parl.2017-06-08' %}
              <p><a href="{{ object.ynr_link }}">Add some candidates at our candidate crowd-sourcing site</a></p>
            {% endif %}
        {% endif %}

        <h3>Posts</h3>
        <ul>
          {% for postelection in object.postelection_set.all %}
            <li>
              <a href="{{ postelection.get_absolute_url }}">{{ postelection.post.label }}</a>
              {{ postelection.short_cancelled_message_html }}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "{{ object.name }}",
      "startDate" : "{{ object.election_date }}",
      "url" : "{{ CANONICAL_URL }}{% url 'election_view' object.slug object.name|slugify %}",
      "location" : {
        "@type" : "Place",
        "name" : "UK",
      }
    }
    </script>
</div>


{% include "elections/includes/_postcode_search_form.html" %}

{% include "feedback/feedback_form.html" %}

{% endblock content %}

{% block breadcrumbs %}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}
  {% url 'elections_view' as elections %}
  {% breadcrumb_item elections 'Elections' 2 %}
  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.name }}</li>
</ol>

{% endblock breadcrumbs %}
