{% extends "base.html" %}

{% load breadcrumb_tags %}
{% load humanize %}

{% block page_title %}{% include "elections/includes/_post_meta_title.html" %}{% endblock page_title %}
{% block page_description %}{% include "elections/includes/_post_meta_description.html" %}{% endblock page_description %}
{% block og_title %}{% include "elections/includes/_post_meta_title.html" %}{% endblock og_title %}
{% block og_description %}{% include "elections/includes/_post_meta_description.html" %}{% endblock og_description %}

{% block content %}
<div class="card">

  {% if object.cancelled %}
    {% include "elections/includes/_cancelled_election.html" with object=object only %}
  {% else %}
  <h1>{{ object.election.nice_election_name }}</h1>
  {% if object.friendly_name != object.election.nice_election_name %}
  <h2>{{ object.friendly_name }}</h2>
  {% endif %}

  <p>
      This election
    {% now "j F Y" as current_day %}
    {% if object.election.election_date|date:"j F Y" == current_day %}
      <strong>is being held today</strong>.
      Polls are open till {% if "local.city-of-london" in object.election.slug %}8pm{% else%}10pm{%endif %}.
    {% else %}
      {% if object.election.in_past %}was{% else %}will be{% endif %} held {{ object.election.election_date|naturalday:"\o\n l j F Y" }}.
    {% endif %}
  </p>


    {% if object.election.slug == "europarl.2019-05-23"%}
      {% include "elections/includes/eu_results.html" with card=0 %}
    {% endif %}


  <div class="clearfix">
    {% if person_posts.all.count %}
      {% if not postelection.get_voting_system.slug == "PR-CL" %}
        <p><strong>{{ person_posts.count }} candidates</strong>
        {% if object.election.in_past %}stood{% else %}are standing{% endif %} in this {{ object.get_name_suffix }}.</p>
      {% endif %}
      {% if not object.election.in_past and not object.locked %}
        <p><a href="{{ object.ynr_link }}">Add more at our candidate crowd-sourcing site</a></p>
      {% endif %}

      {% if postelection.display_as_party_list %}
        <h3>List candidates by party</h3>
        {% if postelection.get_voting_system.slug == "PR-CL" %}
          <p>You will have one vote, and can vote for a single party list or independent candidate.</p>
        {% else %}
          <p>You will vote for your preferred party rather than a candidate on this ballot paper</p>
        {% endif %}
        {% include "elections/includes/_people_list_with_lists.html" with people=person_posts.all %}
      {% else %}
        {% include "elections/includes/_people_list.html" with people=person_posts.all %}
      {% endif %}
    {% else %}

      {% if object.expected_sopn_date and not object.election.in_past %}
        <p>
        The official candidate list
        {% now "Y-m-d" as today %}
        {% if object.expected_sopn_date|date:"Y-m-d" <= today %}
        should have been
        {% else %}
        should be
        {% endif %}
        published on {{ object.expected_sopn_date|date:"j F Y" }}.
        </p>
      {% endif %}
      {% if not object.election.in_past %}
          <p><a href="{{ object.ynr_link }}">Add some candidates at our candidate crowd-sourcing site</a></p>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}

</div>

{% if postelection.husting_set.exists %}
  <div class="card">
    <h3>Election events</h3>
    {% include "elections/includes/_hustings_list.html" with hustings=postelection.husting_set.all %}
  </div>
{% endif %}

{% include "elections/includes/_postcode_search_form.html" %}

{% include "feedback/feedback_form.html" %}

{% endblock content %}


{% block breadcrumbs %}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}

  {% url 'elections_view' as elections %}
  {% breadcrumb_item elections 'Elections' 2 %}

  {% breadcrumb_item object.election.get_absolute_url object.election.nice_election_name 3 %}

  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.post.label }}</li>
</ol>

{% endblock breadcrumbs %}
