{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load static %}

{% block content %}

<section class="columns large-12">
  <div class="card">
    <h2>Elections in {{ postcode }}</h2>
  </div>
</section>

<section class="columns large-6">
  <div class="card">
    <h2 class="card_header">Your Next Election{{ posts.count|pluralize }}:</h2>
    <h3>{{ elections.0.election_date }}</h3>
    <p>Registered voters will be able to vote in {{ posts.count }} election{{ posts.count|pluralize }}:</p>
    <ul>
      {% for post in posts %}
        <li><a href="#election_{{ post.election.slug }}">{{ post.election }}</a></li>
      {% endfor %}
    </ul>
    <p>This means you will need to visit your polling station and fill out {{ posts.count }} ballot paper{{ posts.count|pluralize }}.</p>
  </div>
</section>

<section class="columns large-6">
  <div class="card">
    {% include "notifications/includes/election_notification_form.html" %}
  </div>
</section>

{% if polling_station.polling_station_known %}
{# Add this at the top of the page if it's known, or at the bottom if it's not #}
{% include "elections/includes/_polling_place.html" %}
{% endif %}

<section id="elections_list" class="columns large-12">
  <div class="">
    {% regroup posts by election.election_date as elections_by_date %}
    {% for election_group in elections_by_date %}
      <h2>{{ election_group.grouper }}</h2>
      {% for post in election_group.list %}

      <div id="election_{{ post.election.slug }}" class="card" {# style="background-color:{{ post.election.ballot_colour }}" #}>
        <h2 class="card_header">{{ post.election.name }}</h2>

        {{ post.election.description|markdown }}

        {% if post.election.voting_system %}
        <h3>Voting system: {{ post.election.voting_system }}</h3>
        {{ post.election.voting_system.description|markdown }}
        <a href="{{ post.election.voting_system.wikipeida_url }}">Read more on wikipedia</a>
        {% endif %}


        {% if post.people %}
        <div class="clearfix row">
          {% if post.election.uses_lists %}
          <h3>List candidates by party</h3>
          <p>You will vote for your preferred party rather than a candidate on this ballot paper</p>
          {% include "elections/includes/_people_list_with_lists.html" %}
          {% else %}
          <h3>Candidates</h3>
          {% include "elections/includes/_people_list.html" %}
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</section>

{% if not polling_station.polling_station_known %}
{# Add this at the top of the page if it's known, or at the bottom if it's not #}
{% include "elections/includes/_polling_place.html" %}
{% endif %}


{% endblock content %}
