{% extends "base.html" %}

{% load breadcrumb_tags %}
{% load humanize %}

{% block page_title %}{% include "elections/includes/_post_meta_title.html" %}{% endblock page_title %}
{% block page_description %}{% include "elections/includes/_post_meta_description.html" %}{% endblock page_description %}
{% block og_title %}{% include "elections/includes/_post_meta_title.html" %}{% endblock og_title %}
{% block og_description %}{% include "elections/includes/_post_meta_description.html" %}{% endblock og_description %}

{% block content %}
<div class="card">

  {% if object.cancelled %}
    {% include "elections/includes/_cancelled_election.html" with object=object only %}
  {% else %}
  <h1>{{ object.post.label }}</h1>
  <p>{{ object.post.label }} {% if object.election.in_past %}was{% else %}is{% endif %} a {% if object.election.name == '2017 General Election' %}constituency{% else %}post{% endif %} in the <a href="{{ object.election.get_absolute_url }}">{{ object.election.name }}</a>,
    {% now "j F Y" as current_day %}
    {% if object.election.election_date|date:"j F Y" == current_day %}
      <strong>which is being held today</strong>. Polls are open till 10pm.
    {% else %}
      which {% if object.election.in_past %}was{% else %}will be{% endif %} held {{ object.election.election_date|naturalday:"\o\n l j F Y" }}.
    {% endif %}
  </p>

  <div class="clearfix">
    {% if person_posts.all.count %}
      {% if object.election.name == '2017 General Election' %}
      <p><strong>{{ person_posts.count }} candidates</strong>
      {% if object.election.in_past %}stood{% else %}are standing{% endif %} in this constituency.</p>
      {% else %}
      <p>We know about <strong>{{ person_posts.count }} candidates</strong>
      {% if object.election.in_past %}that stood{% else %}standing{% endif %} in this post.</p>
      {% if not object.election.in_past and not object.locked %}
        <p><a href="{{ object.ynr_link }}">Add more at our candidate crowd-sourcing site</a></p>
      {% endif %}
      {% endif %}

      {% if post.election.uses_lists %}
        <h3>List candidates by party</h3>
        <p>You will vote for your preferred party rather than a candidate on this ballot paper</p>
        {% include "elections/includes/_people_list_with_lists.html" with people=person_posts.all %}
      {% else %}
        {% include "elections/includes/_people_list.html" with people=person_posts.all %}
      {% endif %}
    {% else %}
      {% if not object.election.in_past %}
          <p><a href="{{ object.ynr_link }}">Add some candidates at our candidate crowd-sourcing site</a></p>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}

</div>

{% include "elections/includes/_postcode_search_form.html" %}

{% include "feedback/feedback_form.html" %}

{% endblock content %}


{% block breadcrumbs %}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}

  {% url 'elections_view' as elections %}
  {% breadcrumb_item elections 'Elections' 2 %}

  {% url 'election_view' object.election.slug object.election.name|slugify as election %}
  {% breadcrumb_item election object.election.name 3 %}

  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.post.label }}</li>
</ol>

{% endblock breadcrumbs %}
