{% extends "base.html" %}

{% load breadcrumb_tags %}
{% load humanize %}

{% block page_title %}{% include "elections/includes/_post_meta_title.html" %}{% endblock page_title %}
{% block page_description %}{% include "elections/includes/_post_meta_description.html" %}{% endblock page_description %}
{% block og_title %}{% include "elections/includes/_post_meta_title.html" %}{% endblock og_title %}
{% block og_description %}{% include "elections/includes/_post_meta_description.html" %}{% endblock og_description %}

{% block content %}


  {% include "elections/includes/_single_ballot.html" with postelection=object%}


{% if postelection.ballotnewsarticle_set.exists %}
  {% include "news_mentions/news_articles.html" with news_articles=postelection.ballotnewsarticle_set.all %}
{% endif %}

{% if postelection.husting_set.exists %}
  <div class="card">
    <h3>Election events</h3>
    {% include "elections/includes/_hustings_list.html" with hustings=postelection.husting_set.all %}
  </div>
{% endif %}

{% include "elections/includes/_postcode_search_form.html" %}

{#{% include "feedback/feedback_form.html" %}#}


{% endblock content %}


{% block breadcrumbs %}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}

  {% url 'elections_view' as elections %}
  {% breadcrumb_item elections 'Elections' 2 %}

  {% breadcrumb_item object.election.get_absolute_url object.election.nice_election_name 3 %}

  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.post.label }}</li>
</ol>

{% endblock breadcrumbs %}
